body{
  margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
#achtergrondSize{
  display: grid;
height: 100%;
}
 #achtergrond-website{
  width: 100vw;
  height: 100vh;
   margin: auto;

 }

#Title-box{
  width: 100%;
  height: 30%;
  position:absolute;
  background-color: rgb(34,78,97);
}

#Title{
  color: rgb(220,244,245);
  text-align: center;
  font-family: 'Bungee Shade', cursive;
    font-size: 6vh;
}

#Between-line{
  width: 100%;
  height: 1%;
  position:absolute;
  background-color: rgb(220,244,245);
  top:30%;
}

#Into-interface-box{
  width: 50%;
  height: 50%;
  position:absolute;
  top:31%;
  right: 25%;
  background-color: rgb(34,78,97);

  margin:4px, 4px;
padding:4px;
overflow-x: hidden;
overflow-x: auto;
text-align:justify;
}
}

#Intro-interface-text{
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-left: 1%;
  margin-top: 1%;
}





#Singleplayer-button{
  width: 14%;
  height: 5%;
  background-color: rgb(34,78,97);
  position:absolute;
  left: 68%;
  top:55%;
}
#Singleplayer-word{
  text-align: center;
  color: white;
  font-size: 2.5vh;
    line-height: 0%;
  font-family: 'Roboto', sans-serif;
}


#Multyplayer-button{
  width: 14%;
  height: 5%;
  background-color: rgb(34,78,97);
  position:absolute;
  left: 43%;
  top:55%;
}

#Multiplayer-word{
  text-align: center;
  color: white;
  font-size: 2.5vh;
    line-height: 0%;
  font-family: 'Roboto', sans-serif;
}


#Rules-button{
  width: 14%;
  height: 5%;
  background-color:rgb(34,78,97);
  position:absolute;
  left: 18%;
  top:55%;
}
#Rules-word{
  text-align: center;
  color: white;
  font-size: 2.5vh;
    line-height: 0%;
  font-family: 'Roboto', sans-serif;
}


#Home-button{
  width: 10%;
  height: 5%;
  background-color: rgb(34,78,97);
  position:absolute;
  left: 45%;
  top: 90%;
}
#Home-word{
  text-align: center;
  color: white;
    font-size: 2.5vh;
      line-height: 0%;
  font-family: 'Roboto', sans-serif;
}


#Rules-box{
  width: 100%;
  height: 30%;
  position:absolute;
  background-color: rgb(34,78,97);
}
#Rules-title{
  color: rgb(220,244,245);
  text-align: center;
  font-size: 6vh;
  line-height: 150%;
  font-family: 'Bungee Shade', cursive;
}


#To-be-box{
  width: 10%;
  height: 5%;
  background-color: rgb(34,78,97);
  position:absolute;
  left: 45%;
  bottom: 30%;
}

#To{
  margin-left:17%;
  color: white;
  font-family: 'Roboto', sans-serif;
}
#info{
  width: 100%;
  height: 11%;
  top: 20%;
  position:absolute;
  text-align: center;
    color: rgb(220,244,245);
  font-size: 3vh;



}
#spel{
  width: 100%;
  height: 59%;
  top: 31%;
  position:absolute;


}
#step2 {
  display: none;
}

#step3 {
  display: none;
}


.done {
  background: green;
}

#gameboard {
	position: relative;
	margin:0 auto 3em auto;
  width:40vh;
	height:40vh;
}

#gameboard div {
	position: absolute;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #f6f8f9;
	border: 1px solid #ddd;
	width:4vh;
	height:4vh;
}
#gameboard2 {
	position:relative;
	margin:0 auto 3em auto;
	width:40vh;
	height:40vh;
}

#gameboard2 div {
	position:absolute;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #f6f8f9;
	border: 1px solid #ddd;
  width:4vh;
	height:4vh;
}
